body {
  background-color: #221C35;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}
h1 {
  color: #9595D2;
}
p {
  color: #9595D2;
}

html, body {
    height: 100%;
    margin: 5;
    padding: 0;
}

.kitRender {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

.boardRender {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 50%;
    max-width: 50%;
}